<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Zedcore Coding Challenge</title>
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Employer KPI report</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="target">KPI target (days)</label>
                                    <div class="input-group">
                                        <input class="form-control" name="target" type="number"/>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">
                                                Run report
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-header border-top">
                            Common KPI targets
                        </div>
                        <div class="list-group list-group-flush">
                            {% for item in report.CommonTargets %}
                              <a class="list-group-item list-group-item-action" href="/?target={{ item }}">{{ item }}</a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
            {{ report.ShowResult|raw }}
        </div>
    </body>
</html>
