<div class="row">
    <div class="col-12">
        <h2>Report</h2>
        <p>
            The KPI target was <code>{{ input }}</code>
        </p>
        <table class="table table-striped">
            <thead>
                {% for key in display.TableColumns|keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in display.CalculateRows %}
                    <tr>
                        {% for cell in row %}
                            {% include 'cell.html.twig' with {'cell': cell} %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
